/* app global css */

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  height: 58px;
  display: flex;
  align-items: center;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;
}

.main-header-image {
  margin-left: 10px;
  height: 55px;
  vertical-align: middle;
  transition: transform 0.3s;
}
.main-header-image:hover {
  transform: scale(1.1);
}

.main-header-link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: transform 0.3s;
}
.main-header-link:hover {
  transform: scale(1.1);
}

.main-header-entrar-link {
  background-color: white;
  text-decoration: none;
  color: #091c3e;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  transition: transform 0.3s;
}
.main-header-entrar-link:hover {
  transform: scale(1.1);
}

.main-header-home-link {
  background-color: white;
  text-decoration: none;
  color: #091c3e;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  transition: transform 0.3s;
}
.main-header-home-link:hover {
  transform: scale(1.1);
}

.main-header-separator {
  width: 1px;
  height: 20px;
  background-color: white;
  margin-right: 20px;
}

.main-container {
  background-image: url('../assets/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.main-footer {
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* HOME PAGE */

.home-search {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 5px;
  width: 620px;
  margin: 10px;
}

.home-search-input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.home-search-input::placeholder {
  color: white;
  font-weight: 100;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.home-search-icon {
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding-right: 10px;
  transition: transform 0.3s;
}

.home-search-icon:hover {
  transform: scale(1.1);
}

.home-category-list {
  display: flex;
  justify-content: center;
}

.home-category-card {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 10px;
  width: 100px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 11px;
  cursor: pointer;
  transition: transform 0.3s;
}
.home-category-card:hover {
  transform: scale(1.1);
}

.home-category-card-content {
  font-family: 'Poppins', sans-serif;
}

/* SIGNIN PAGE */

.signin-container {
  background-image: url('../assets/signin-background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1c1740;
}

.signin-card-title {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

.signin-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  height: 560px;
  margin-bottom: 40px;
  padding: 20px;
}

.signin-form {
  padding-top: 20px; /* Espaçamento entre campos */
}

.signin-form-group {
  margin-bottom: 10px; /* Espaçamento entre campos */
}

.signin-form-label {
  color: #6c6c6c;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: block; /* Para que as labels apareçam embaixo dos campos */
  margin-bottom: 5px; /* Espaçamento entre label e campo */
}

.signin-form-input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #ccc; /* Cor da borda */
  border-radius: 15px 15px 15px 15px;
  padding: 6px; /* Espaçamento interno do campo */
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.signin-form-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.signin-form-button {
  border: none;
  color: white;
  background: linear-gradient(135deg, #ff0084, #ff9c00);
  border-radius: 15px;
  padding: 7px;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s;
}

.signin-form-button:hover {
  transform: scale(1.1);
}

/* login PAGE */

.login-container {
  background-image: url('../assets/login-background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #002d5e;
}

.login-card-title {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.login-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  /* height: 530px; */
  margin-bottom: 40px;
  padding: 20px 20px 40px 20px;
}

.login-form {
  padding-top: 0px; /* Espaçamento entre campos */
}

.login-form-group {
  margin-bottom: 10px; /* Espaçamento entre campos */
}

.login-header-image {
  margin-left: 10px;
  height: 70px;
  vertical-align: middle;
  transition: transform 0.3s;
  margin-bottom: 20px;
}
.login-header-image:hover {
  transform: scale(1.1);
}

.login-form-label {
  color: #6c6c6c;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: block; /* Para que as labels apareçam embaixo dos campos */
  margin-bottom: 5px; /* Espaçamento entre label e campo */
}

.login-form-input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #ccc; /* Cor da borda */
  border-radius: 15px 15px 15px 15px;
  padding: 6px; /* Espaçamento interno do campo */
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.login-form-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.login-form-button {
  border: none;
  color: white;
  background: linear-gradient(135deg, #ff0084, #00d9ff);
  border-radius: 15px;
  padding: 8px 30px 8px 30px;
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  transition: transform 0.3s;
}
.login-form-button:hover {
  transform: scale(1.1);
}

.generic-link {
  text-decoration: none;
  color: #757575;
  margin-top: 15px;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
}
.generic-link:hover {
  transform: scale(1.1);
}

.is-required {
  color: #c80000;
  font-family: 'Poppins', sans-serif;
}

.error-404-page {
  background-image: url('../assets//404-background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (max-width: 768px) {
  #main-header-categories {
    display: none;
  }
  .main-header-image {
    height: 40px;
  }
  /* .main-header-separator, */
  .home-category-list {
    display: none;
  }

  .login-container {
    background-position-x: 50%;
  }
  .main-container {
    background-position-x: 40%;
  }
  .home-search {
    width: 360px;
  }
  .signin-card,
  .login-card {
    width: 90%;
    max-width: 360px;
    height: auto;
    padding: 15px;
  }
  .signin-form-input,
  .login-form-input {
    font-size: 16px;
  }
  .signin-form-button-container,
  .login-form-button-container {
    margin-top: 12px;
  }
  .signin-card-title,
  .login-card-title {
    font-size: 24px;
  }
  .signin-form-label,
  .login-form-label {
    font-size: 14px;
  }
}
