/* app global css */
body {
  font-family: 'Poppins', sans-serif;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  height: 58px;
  display: flex;
  align-items: center;
  box-shadow: none;
  /* font-family: 'Poppins', sans-serif; */
}

.main-header-image {
  margin-left: 10px;
  height: 55px;
  vertical-align: middle;
  transition: transform 0.3s;
}
.main-header-image:hover {
  transform: scale(1.1);
}

.main-header-link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: transform 0.3s;
}
.main-header-link:hover {
  transform: scale(1.1);
}

.main-header-entrar-link {
  background-color: white;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  padding: 5px 20px;
  border: none;
  border-radius: 25px;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 500;
  transition: transform 0.3s;
}
.main-header-entrar-link:hover {
  transform: scale(1.1);
}

.main-header-home-link {
  background-color: white;
  text-decoration: none;
  color: #091c3e;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 25px;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 900;
  transition: transform 0.3s;
}
.main-header-home-link:hover {
  transform: scale(1.1);
}

.main-header-separator {
  width: 1px;
  height: 20px;
  background-color: white;
  margin-right: 20px;
}

.main-container {
  background-image: url('../assets/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.main-footer {
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* font-family: 'Poppins', sans-serif; */
}

/* HOME PAGE */

.index-search {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid white;
  padding: 5px;
  width: 620px;
  margin: 10px;
}

.index-search-input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
  /* font-family: 'Poppins', sans-serif; */
}

.index-search-input::placeholder {
  color: white;
  font-weight: 100;
  padding-left: 10px;
  font-size: 18px;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 100;
}

.index-search-icon {
  color: white;
  cursor: pointer;
  font-size: 24px;
  padding-right: 10px;
  transition: transform 0.3s;
}

.index-search-icon:hover {
  transform: scale(1.1);
}
.index-category-list {
  display: flex;
  justify-content: center;
  width: 620px;
  overflow-x: auto;
}

.index-category-list::-webkit-scrollbar {
  width: 6px; 
}

.index-category-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* Cor e transparência da "thumb" da barra de rolagem */
  border-radius: 6px;
  max-height: 10px;
}

.index-category-list::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.0); /* Cor e transparência do fundo da barra de rolagem */
}

.index-category-card {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 10px;
  min-width: 100px; /* Largura mínima do cartão */
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 11px;
  cursor: pointer;
  transition: width 0.3s, transform 0.3s; /* Adicionando transição para width e transform */
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
}

.index-category-card:hover {
  width: auto; /* Aumenta a largura automaticamente ao passar o mouse */
  transform: scale(1.1); /* Aumenta um pouco o tamanho ao passar o mouse */
}

.index-category-card-content {
  padding: 0 8px; /* Adiciona margem interna (espaço) à esquerda e à direita */
  overflow: hidden;
  white-space: nowrap;
}

.signin-container {
  background-image: url('../assets/background-register-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.signin-card-title {
  color: #ffffff;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 500;
  font-size: 30px;
  margin: -15px;
}

.signin-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin-bottom: 40px;
  padding: 20px;
}

.signin-form {
  padding-top: 20px; /* Espaçamento entre campos */
}

.signin-form-group {
  margin-bottom: 10px; /* Espaçamento entre campos */
}

.signin-form-label {
  color: #6c6c6c;
  font-weight: 500 !important;
  /* font-family: 'Poppins', sans-serif; */
  display: block; /* Para que as labels apareçam embaixo dos campos */
  margin-bottom: 5px; /* Espaçamento entre label e campo */
}

.signin-form-input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #ccc; /* Cor da borda */
  border-radius: 15px 15px 15px 15px;
  padding: 6px 16px;
  font-size: 13px;
  /* font-family: 'Poppins', sans-serif; */
}

.signin-form-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-form-checkbox {
  margin-right: 10px;
  margin-bottom: 5px;
}

.signin-form-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.signin-form-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.signin-form-button {
  border: none;
  color: white;
  background: linear-gradient(135deg, #ff0084, #ff9c00);
  border-radius: 15px;
  padding: 7px;
  /* font-family: 'Poppins', sans-serif; */
  transition: transform 0.3s;
}

.signin-form-button:hover {
  transform: scale(1.1);
}

/* login PAGE */

.login-container {
  background-image: url('../assets/background-login-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #002d5e;
}

.login-card-title {
  color: black;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  display: flex;
  justify-content: center;
}

.login-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 450px;
  /* height: 530px; */
  margin-bottom: 40px;
  padding: 20px 20px 20px 20px;
}

.login-form {
  padding-top: 0px; /* Espaçamento entre campos */
}

.login-form-group {
  margin-bottom: 10px; /* Espaçamento entre campos */
}

.login-header-image {
  margin-left: 10px;
  height: 70px;
  vertical-align: middle;
  transition: transform 0.3s;
  margin-bottom: 20px;
}
.login-header-image:hover {
  transform: scale(1.1);
}

.login-form-label {
  color: #6c6c6c;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 500 !important;
  display: block; /* Para que as labels apareçam embaixo dos campos */
  margin-bottom: 5px; /* Espaçamento entre label e campo */
}

.login-form-input {
  width: 100%;
  background-color: transparent;
  border: 2px solid #ccc; /* Cor da borda */
  border-radius: 15px 15px 15px 15px;
  padding: 6px 16px;
  font-size: 13px;
  /* font-family: 'Poppins', sans-serif; */
}

.login-form-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.login-form-button {
  border: none;
  color: white;
  background: linear-gradient(135deg, #ff0084, #0095ff);
  border-radius: 15px;
  padding: 8px 30px 8px 30px;
  /* font-family: 'Poppins', sans-serif; */
  margin-top: 15px;
  transition: transform 0.3s;
}
.login-form-button:hover {
  transform: scale(1.1);
}

.generic-link {
  text-decoration: none;
  color: #9d9d9d;
  margin-top: 10px;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
}
.generic-link:hover {
  transform: scale(1.1);
}

.is-required {
  color: #c80000;
  /* font-family: 'Poppins', sans-serif; */
}

/* HOME CONTAINER */

.home-container {
  background-image: url('../assets/background-home-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

/* ACCOUNT PAGE */
.account-container {
  box-sizing: border-box;
  position: absolute;
  width: 1054px;
  height: 662px;
}

.account-box-full {
  box-sizing: border-box;
  position: absolute;
  background: rgba(26, 26, 26, 0.64);
  backdrop-filter: blur(5px);
  border-radius: 30px 30px 30px 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.account-box-full-account-pic-box {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-box-full-account-pic-ellipse {
  position: absolute;
  width: 175px;
  height: 175px;
  background: #535353;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-box-full-account-pic-ellipse-icon {
  position: absolute;
  width: 70%;
  height: 70%;
}

.account-box-full-account-info {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 25%; /* Iniciar a partir do final da primeira div filha */
  width: 75%; /* Ocupa o restante da largura da div pai */
  height: 38%; /* A mesma altura da primeira div filha */
  display: flex;
  flex-direction: column; /* Coloca as divs filhas uma abaixo da outra */
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.account-box-full-account-info-name {
  min-height: 5rem;
  min-width: 1rem;
  width: 100%;
  font-weight: 600;
  /* font-family: 'Poppins', sans-serif; */
  color: white;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
  white-space: nowrap; /* Impede a quebra de linha */
  overflow: hidden; /* Oculta o texto que extrapolar a div */
  text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto é cortado */
  font-size: 60px; /* Tamanho de fonte inicial */

  /* Tamanho de fonte responsivo */
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.account-box-full-account-info-email {
  min-height: 1rem;
  min-width: 10rem;
  font-size: 20px;
  width: 100%;
  /* font-family: 'Poppins', sans-serif; */
  color: white;
  text-align: left; /* Alinha o texto à esquerda */
  margin: 0; /* Remove margens padrão para ajustar a esquerda */
}

.account-box-full-account-info-name.animated-gradient {
  animation: gradientAnimation 0.6s linear infinite;
}
.account-box-full-account-info-email.animated-gradient {
  animation: gradientAnimation 0.7s linear infinite;
}

.account-box-half-container-editable-data-value.animated-gradient {
  animation: gradientAnimation 0.6s linear infinite;
}

.account-box-half {
  box-sizing: border-box;
  position: absolute;
  background: rgba(44, 44, 44, 0.77);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 30px 30px;
  top: 40%;
  left: 0;
  width: 100%;
  height: 60%;
  display: flex;
  overflow-y: auto;
}

.account-box-half-container {
  flex: 1;
  height: 100%;
}

.account-box-half-container-editable-data {
  margin: 50px 50px 0px 50px;
}

.account-box-half-container-editable-data-title {
  min-height: 1rem;
  min-width: 10rem;
  font-size: 35px;
  width: 100%;
  font-weight: 700;
  /* font-family: 'Poppins', sans-serif; */
  color: white;
  text-align: left;
  margin: 0;
}

.account-box-half-container-editable-data-subtitle {
  min-height: 1rem;
  min-width: 10rem;
  font-size: 20px;
  width: 100%;
  font-weight: 700;
  /* font-family: 'Poppins', sans-serif; */
  color: white;
  text-align: left;
  margin: 0;
  margin-top: 5px;
}

.account-box-half-container-editable-data-value {
  min-height: 1rem;
  min-width: 10rem;
  font-size: 15px;
  width: 100%;
  /* font-family: 'Poppins', sans-serif; */
  color: white;
  text-align: left;
  margin: 0;
}

.account-box-separator {
  margin-top: 15px;
  margin-bottom: 15px;
}

.account-box-half-container-options {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.account-box-half-container-options-group {
  display: flex;
  align-items: center;
  width: 60%;
  margin-bottom: 15px;
}

/* Rectangle 81 */
.account-box-half-container-options-group-btn {
  width: 45px;
  height: 47px;
  background: #4a4a4a;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.account-box-half-container-options-group-description {
  margin-left: 15px;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 700;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.account-box-half-container-options-group-btn:hover {
  transform: scale(1.1);
}

/* 404 ERROR PAGE */

.error-404-page {
  background-image: url('../assets//404-background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

/* spinners */

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.747);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;

  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  #main-header-categories {
    display: none;
  }
  .main-header-image {
    height: 40px;
  }
  /* .main-header-separator, */
  .index-category-list {
    width: 360px;
  }

  .login-container {
    background-position-x: 50%;
  }
  .home-container {
    background-position-x: 50%;
  }
  .main-container {
    background-position-x: 40%;
  }
  .index-search {
    width: 360px;
  }
  .signin-card,
  .login-card {
    width: 90%;
    max-width: 360px;
    height: auto;
    padding: 15px;
  }
  .signin-form-input,
  .login-form-input {
    font-size: 16px;
  }
  .signin-form-button-container,
  .login-form-button-container {
    margin-top: 12px;
  }
  .signin-card-title,
  .login-card-title {
    font-size: 24px;
  }
  .signin-form-label,
  .login-form-label {
    font-size: 14px;
  }

  .account-container {
    width: 95%;
    height: 85%;
  }

  .account-box-full-account-pic-ellipse {
    width: 100px;
    height: 100px;
    margin-left: 35px;
  }

  .account-box-full-account-info-name {
    min-height: 1rem;
    font-size: 25px;
    margin-left: 14px;
  }

  .account-box-full-account-info-email {
    min-height: 1rem;
    font-size: 15px;
    margin-left: 14px;
  }

  .account-box-half {
    flex-direction: column; /* Coloca as divs filhas uma abaixo da outra */
  }
  .account-box-half-container {
    flex: 0 0 70%; /* Ocupa toda a largura da div mãe */
  }

  .account-box-half-container-editable-data-title {
    font-size: 22px;
  }

  .account-box-half-container-editable-data-subtitle {
    font-size: 17px;
  }

  .account-box-half-container-editable-data-value {
    font-size: 13px;
  }

  .account-box-half-container-options {
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
  }

  .account-box-half-container-options-group {
    width: 100%;
  }
}

@keyframes gradientAnimation {
  0% {
    margin-top: 2px;
    margin-right: 2px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(243, 243, 243, 1)
    );
    background-size: 200% 100%;
    background-position: 100% 0;
  }
  100% {
    margin-top: 2px;
    margin-right: 2px;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(243, 243, 243, 0.5)
    );
    background-size: 200% 100%;
    background-position: -100% 0;
  }
}
